@import '_variables';

.main_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .main_container__card {
    width: 30rem;
    height: 22rem;
    text-align: center;
    border: 2px solid $md-booky-secondary;
    border-radius: 15px;

    & .main_container__card_logo {
      max-width: 5rem;
      margin: 1rem auto;
    }

    & .main_container__card_header {
      flex-direction: column;
    }

    & .main_container__card_user {
      width: 100%;
      font-size: 1.2rem;
    }

    & .main_container__card_submit {
      width: 100%;
      font-size: 1.2rem;
      margin: 1.5rem auto;
      border-radius: 15px;
      letter-spacing: 3px;
    }
  }
}
