@import "variables";
@import "mixins";

.card_deck_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-books-search-result-item {
  padding: 0.2rem;
  width: 16rem;
  margin: 0.4rem auto;

  animation: book-fade-in 0.15s linear;
  animation-fill-mode: both;
}

app-books-search-results-pager {
  min-width: 16rem;
}

$max-results-to-animate: 50;
@for $i from 1 through $max-results-to-animate {
  app-books-search-result-item:nth-child(#{$i}) {
    animation-delay: 0.15s * $i;
  }
}

@keyframes book-fade-in {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
